<ion-view view-title="Content">
  <ion-content>
    
      <div class="tabs tabs-icon-only">
      <a  ui-sref="tab.chat" class="tab-item">
        <i class="icon ion-home"></i>
      </a>
      <a class="tab-item">
        <i class="icon ion-star"></i>
      </a>
      <a ng-href="#/chats" class="tab-item">
        <i class="icon ion-gear-a"></i>
      </a>  
      <a class="tab-item">
        <i class="icon ion-home" href="#/chats"></i>
      </a>
      <a class="tab-item">
        <i class="icon ion-star"></i>
      </a>
      <a class="tab-item">
        <i class="icon ion-gear-a"></i>
      </a>
    </div>

    
  </ion-content>
</ion-view>
