<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title>Muogle</title>

		<link href="lib/ionic/css/ionic.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">

		<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
		<link href="css/ionic.app.css" rel="stylesheet">
		-->



		<!-- ionic/angularjs js -->
		<script src="lib/ionic/js/ionic.bundle.js"></script>
<script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js"></script>
		<script src="lib/ionic-ion-swipe-cards/ionic.swipecards.js"></script>
 		<script src="lib/ngstorage/ngStorage.min.js"></script>

		<!-- cordova script (this will be a 404 during development) -->
		<script src="js/ng-cordova.min.js"></script>
		<!-- Cordova is bootstrapped by ionic-platform-web-client, uncomment this if you remove ionic-platform-web-client... -->
<!-- <script src="cordova.js"></script> -->

		<!-- your app's js -->
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/services.js"></script>


				<!-- ionic/jquery tooltipser -->
		<script src="dist/angular-tooltips.min.js"></script>
		<link href="dist/angular-tooltips.min.css" rel="stylesheet" type="text/css">
	</head>
	<body ng-controller="MainCtrl">
	  	<div>
			<ion-nav-view animation="slide-left-right"></ion-nav-view>
	  	</div>
	  	<script id="index.html" type="text/ng-template">
			<ion-view class="home">
			  	<ion-content has-header="true" scroll = "false" padding="true">
			  		<div class="row list list-inset responsive-sm" style="background-color:transparent;">
			  			<div class="col" style="width:82%; margin: 100% 8% 0px 10%;">
						  	<label class="item item-input homeLabel">
						    	<input type="text" placeholder="Search Muogle">
						  	</label>			  				
			  			</div>
					</div>
		  			<div class="row">
		  				<div class="col-50" style="margin:0 auto; text-align:center;">
							<a class="button" ng-click = "randomFct()">DISCOVER</a>
						</div>
						<div class="col-50" style="text-align:center;">
							<a class="button" href="#/content">SEARCH</a>
						</div>
		  			</div>
		  			<div class="bar bar-footer" style="    display: -ms-flexbox; display: -webkit-flex;  display: flex; -webkit-justify-content: center;    -ms-flex-pack: center;    justify-content: center; height: initial;">
		  				<div style="    display: -ms-flexbox; display: -webkit-flex; display: flex;     -webkit-flex-direction: column; -ms-flex-direction: column;  flex-direction: column;" ng-click="goToFavorite()">
						  	<div style="    display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-justify-content: center;    -ms-flex-pack: center;    justify-content: center;"><img src = img/star_filled.png height="18"></div>
						  	<div style="float:left; color:#CADA56; font-size: 11px;">Favorites</div>
						</div>
					</div>
			  	</ion-content>
			</ion-view>
	  	</script>
	  	<script id="content.html" type="text/ng-template">
			<ion-view class="Content">
			  	<ion-content has-header="true" padding="true" scroll = "false">
			  		<div class="bar bar-header">
							<div class = "position-center"> <img src = "img/logo_small.png" ng-click="backHome()" height="31" width="60"/></div>
						    <div class = "position-right"> <img src = "img/search.png" ng-click="backHome()" height="20" width="20"/></div>
					</div>

					// submenu of categories in muogle it
					<div class="bar bar-subheader">
					  	<ion-scroll scrollbar-x="false" style="width:auto; height: auto; height: 35px; border-bottom: solid thin #ddd; min-width: 100%" zooming="true" direction="x" has-bouncing="false" overflow-scroll="false">
						  	<div style="width: -webkit-max-content; width: max-content; height: max-content;">
						  		<div class = "muogleCategory" ng-repeat = "info in category.data.items"  ng-click = setCardCategory(info.category)> {{info.category.description}}</div>
						  	</div>
						 </ion-scroll>
					</div>
					// card in muogle it
					<ion-content scroll="false">
						<ion-slides slider="data.slider">
							<ion-slide-page ng-repeat = "info in category.data.items | categoryFilter:cardCategory">
								<ion-content scroll = "false" class="slideContainer" ng-class = "{sliderUp: slidePosition}" >
									<ion-content scroll="false" class = "slid">
										<div class="slideBackground" ng-style = "{'background-image':'url({{info.backgroundImage}})'}">
										</div>
							  			<p class = "child">{{info.description}}</p>
								  	</ion-content>
							  		<div class = "slideValiderContainer" >
							  			<div ng-class = "{slideValiderGray: slideValiderGrayValue, slideValider:!slideValiderGrayValue}" ng-click = "slideUp($event)"><img  src="img/speakers.png"/></div>
							  		</div>
							  	</ion-content>
							  	<ion-content scroll = "false" class = "verifier">
									<ion-scroll scrollbar-x="false" style="width:80%; height: auto; margin-left:10%" zooming="true" direction="x" has-bouncing="false" overflow-scroll="false">
									  	<div class = "validateurWrapper" ng-repeat = "verifier in info.verifiers">	
									  		<div ng-click="openPopover($event, verifier)" class = "muogleVerifier" style = "background-image: url('{{verifier.icon}}');"></div>
									  	</div>
									 </ion-scroll>	
								</ion-content>	
								<div class="bar bar-footer">
										<div class = "position-left"> <img src = "img/arrow_previously.png" ng-click="backHome()" height="20" width="20"/></div>
										<div class = "position-center"> <img src = "img/arrow_green_up.png" ng-click="openModal(info)" height="10" width="19"/></div>
							    		<div class = "position-right" ng-class = "{notDisplay:!isFavorite(info)}" > <img src = "img/star_filled.png" ng-click="remove(info)" height="20" width="20"/></div>
							    		<div class = "position-right" ng-class = "{notDisplay:isFavorite(info)}"> <img src = "img/star_grey.png" ng-click="add(info)" height="20" width="20"/></div>
								</div>	
							</ion-slide-page>
						</ion-slides>
					</ion-content>
			  	</ion-content>
			</ion-view>
	  	</script>
	  	<script id="random.html" type="text/ng-template">
			<ion-view class="random">
			  	<ion-content has-header="true" padding="true" scroll="false">
			  		<div id ="random">
			  			<div class="bar bar-header" >
							<div class = "position-center"> <img src = "img/logo_small.png" ng-click="backHome()" height="31" width="60"/></div>
						    <div class = "position-right"> <img src = "img/search.png" ng-click="backHome()" height="20" width="20"/></div>
						</div>
					</div>
					<ion-content scroll = "false" class="slideContainer" ng-class = "{sliderUp: slidePositionRandom}" >
						<ion-content scroll="false" class = "slid">
							<div class="slideBackground" ng-style = "{'background-image':'url({{random.backgroundImage}})'}">
							</div>
				  			<p class = "child">{{random.description}}</p>
					  	</ion-content>
				  		<div class = "slideValiderContainer" >
				  			<div ng-class = "{slideValiderGray: slideValiderRandomGrayValue, slideValider:!slideValiderRandomGrayValue}" ng-click = "slideUpRandom($event)"><img  src="img/speakers.png"/></div>
				  		</div>
				  	</ion-content>
				  	<ion-content class = "verifier">
						<ion-scroll scrollbar-x="false" style="width:80%; height: auto; margin-left:10%" zooming="true" direction="x" has-bouncing="false" overflow-scroll="false">
						  	<div class = "validateurWrapper" >	
						  		<div ng-click="openPopover($event, info)" class = "muogleVerifier" style = "background-image: url('http://placehold.it/150x150');"></div>
						  	</div>
						 </ion-scroll>	
					</ion-content>	
					<div class="bar bar-footer">
						<div class = "position-left"> <img src = "img/arrow_previously.png" ng-click="backHome()" height="20" width="20"/></div>
						<div class = "position-center"> <img src = "img/arrow_green_up.png" ng-click="openModal(random)" height="10" width="19"/></div>
			    		<div class = "position-right" ng-class = "{notDisplay:!isFavorite(random)}" > <img src = "img/star_filled.png" ng-click="remove(random)" height="20" width="20"/></div>
			    		<div class = "position-right" ng-class = "{notDisplay:isFavorite(random)}"> <img src = "img/star_grey.png" ng-click="add(random)" height="20" width="20"/></div>
					</div>	
			  	</ion-content>
			</ion-view>
	  	</script>

	  	<script id="list.html" type="text/ng-template">
			<ion-view class="category">
		  	// 	<ion-header-bar class="bar-header">
					// <a class="button icon-left ion-home" href="#/">Go back!</a>
			  // 		<h1 class="title">Second Page</h1>
		  	// 	</ion-header-bar>
				<div class="bar bar-header">
					<div class = "position-center"> <img src = "img/logo_small.png" ng-click="backHome()" height="31" width="60"/></div>
				    <div class = "position-right"> <img src = "img/search.png" ng-click="backHome()" height="20" width="20"/></div>
				</div>
	  			<ion-content has-header="true" padding="true" >
				  		<div class="category-item" ng-repeat = "info in category.data.items">
				  			{{info.category.description}}
				  		</div>
		  		</ion-content>
			</ion-view>
	  	</script>
	  	<script id="favorite.html" type="text/ng-template">
			<ion-view class="favorite">
		  		<div class="bar bar-header">
						<div class = "position-center"> <img src = "img/logo_small.png" ng-click="backHome()" height="31" width="60"/></div>
				</div>
			  	<ion-content class = "favoriteCards" scroll="true" >
			  		<div ng-switch on="favorite.length" style="width: 100%;">
			  			<div ng-switch-when="0">
						  	<div >
								<div style="display: -ms-flexbox; display: -webkit-flex; display: flex;-webkit-justify-content: center;    -ms-flex-pack: center;    justify-content: center;"> <img src = "img/favorite_inctruction.png" height="148";/></div>
								<div style="text-align: center;color: #D5D3D3;"> <span style= "font-size:40px"> Your favorites are empty</span> <br/>You can add any interesting post<br/>by following instruction above</div>
						  	</div>
						</div>
						<div ng-switch-default>
							<div class="favoriteWrapper" ng-repeat = "info in category.data.items | favoriteFilter : favorite">
								<div class = "sectionCard">
									<ion-content scroll="false" class = "favoriteCard slid" ng-click = "highlight(info)">
										<div class="slideBackground" ng-style = "{'background-image':'url({{info.backgroundImage}})'}">
										</div>
							  			<p class = "child">{{info.description}}</p>
								  	</ion-content>
						  			<div class = "cardBottom">
						  				<div class = "position-left"> <img src = "img/star_filled.png" ng-click="remove(info)" height="25" width="22"/></div>
							    		<div class = "position-right"> <img src = "img/export_grey.png" ng-click="shareNative()" height="25" width="25"/></div>
						  			</div>
						  		</div>
						  	</div>
						</div>
					</div>
				</ion-content
			</ion-view>
	  	</script>
	  	<script id="quoteInfo.html" type="text/ng-template">
			<ion-view class="category quoteInfo">
				<div class="bar bar-header">
					<div class = "position-left"> <img src = "img/star.png" ng-click="backHome()" height="20" width="20"/></div>
					<div class = "position-center"> <img src = "img/arrow_green_down.png" ng-click="backHome()" height="12" width="30"/></div>
				    <div class = "position-right"> <img src = "img/export.png" ng-click="backHome()" height="20" width="20"/></div>
				</div>
	  			<ion-content class = "favoriteCards" has-header="true" padding="true" >
					<div class="favoriteWrapper">
						<div class = "sectionCard">
				  			<div class = "favoriteCard" style = "background-image: url('http://placehold.it/150x150');">
				  			</div>	
				  			<div class = "cardBottom">
				  				{{factContent}}
				  			</div>
				  		</div>
				  	</div>
		  		</ion-content>
			</ion-view>
	  	</script>
	  	<script id="popover.html" type="text/ng-template">
		  <ion-popover-view class = "validerName">
		  	<ion-content scroll="false" style="height:40px; text-align: center;">
		      {{popover.item.name}}
		    </ion-content>
		  </ion-popover-view>
		</script>

		<script id="my-modal.html" type="text/ng-template">
		  <ion-modal-view class="category quoteInfo">
		    <div class="bar bar-header">
					<div class = "position-left" ng-class = "{notDisplay:!isFavorite(modal.cont)}" > <img src = "img/star_filled.png" ng-click="remove(modal.cont)" height="20" width="20"/></div>
		    		<div class = "position-left" ng-class = "{notDisplay:isFavorite(modal.cont)}"> <img src = "img/star_grey.png" ng-click="add(modal.cont)" height="20" width="20"/></div>
					<div class = "position-center"> <img src = "img/arrow_green_down.png" ng-click="closeModal()" height="12" width="30"/></div>
				    <div class = "position-right"> <img src = "img/export.png" ng-click="shareNative()" height="20" width="20"/></div>
				</div>
	  			<ion-content class = "favoriteCards" has-header="true" padding="true" >
					<div class="favoriteWrapper">
						<div class = "sectionCard">
				  			<div class = "favoriteCard" style = "background-image: url('{{modal.cont.fullBackgroundImage}}');">
				  			</div>	
				  			<div class = "cardBottom">

				  			{{modal.cont.description}}<br/>
			  				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque metus risus, consectetur ut maximus gravida sit amet sem. Etiam euismod placerat tristique. Duis eros sit amet tortor congue viverra. Phasellus vulputate sit amet neque a feugiat. Donec tristique dui orci, nec elementum ex molestie ac. Vivamus tortor mi, tempus ut vulputate et, ornare sit amet leo. Nulla nulla mauris, accumsan sed feugiat venenatis nec magna.

							Etiam elit urna, molestie quis dolor a, accumsan varius odio. Fusce tincidunt suscipit odio a iaculis. Morbi dignissim, nunc non lacinia luctus, eros ipsum aliquet est, sit amet vestibulum mi nulla id ipsum. Nunc ac erat facilisis, condimentum arcu quis, viverra justo. Aliquam sem lectus, scelerisque eu condimentum id, placerat eget arcu. Sed quis orci at nunc lobortis consectetur. Praesent vehiculaquam vehicula. Donec viverra a mi sed pellentesque. Phasellus id urna neque. In dapibus velit sit amet placerat malesuada. Proin vitae quam maximus, interdum nunc at, interdum nulla. Curabitur ac tristique velit. Nullam viverra scelerisque sollicitudin. Cras rutrum rhoncus mollis.

							Nunc nisl porttitor, eleifend augue ut, vulputate nunc. Ut mattis porta lorem at commodo. Duis sodales tempor arcu, vel consectetur lorem convallis Sed sollicitudin elit ut justo elementum condimentum eget eu augue. Suspendisse fringilla metus ligula, sed ibus massa viverra nec. Ut urna leo, iaculis pretium risus eget, hendrerit tempus lacus. Nullam blandit ex et interdum feugiat. Praesent ac ante non urna pellentesque pellentesque ut a enim. Vivamus tempus nibh fringilla quam convallis condimentum. Curabitur vehicula euismod scelerisque. Curabitur mattis turpis a sem vestibulum, a gravida purus elementum. Quisque finibus quis odio at ornare. Morbi maximus 
				  			</div>
				  		</div>
				  	</div>
		  		</ion-content>
		  </ion-modal-view>
		</script>
	</body>
 
</html>
