@font-face {
    font-family: Antonio;
    src: url(antonio/Antonio-Light.ttf);
}

@font-face {
    font-family: Antonio_Bold;
    src: url(antonio/Antonio-Bold.ttf);
}


body {
    font-family:"helvetica Neue" !important;
}

.fiftypercent{
    height:50% !important;
    bottom: initial !important;
}

.displayCss{
    display: none;
}

.button {
    border:none !important;
}

.popover-backdrop.active {
    background-color: rgba(0, 0, 0, 0) !important;
}

.verifier {
    position: fixed;
    bottom: 50;
    left: 0;
    right: 0;
}

.opacity {
    opacity: 0.5 !important;
} 
.opacityNot {
   opacity: 1 !important;
}


.home .bar-footer {
    padding-bottom: 0em !important;
}

.position-left {
    -webkit-align-self: center;
    align-self: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}


.bar-footer .position-left {
/*    -webkit-align-self: center;
    align-self: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;*/
    width: 3em !important;
    height: 1.8em !important;
    min-width: none;
    min-height: none;
    top: 0px;
    left: -15px;
    bottom: 0px;
}

.bar-footer .position-center {
/*    -webkit-align-self: center;
    align-self: center;
    -webkit-justify-content: center;
    justify-content: center;
    display: flex;*/
    display: -webkit-flex;
    width: 3em !important;
    height: 1.8em !important;
    min-width: none;
    min-height: none;
}


.bar-footer .position-right {
/*    -webkit-align-self: center;
    align-self: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;*/
    width: 3em !important;
    height: 1.8em !important;
    min-width: none;
    min-height: none;
    position: relative !important;
    top: 0px !important;
    right: -15px !important;
    bottom: 0px !important;
}



.quoteInfo .position-left {
/*    -webkit-align-self: center;
    align-self: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;*/
    width: 3em !important;
    height: 1.8em !important;
    min-width: none;
    min-height: none;
    top: 0px;
    left: -15px;
    bottom: 0px;
}

.quoteInfo .position-center {
/*    -webkit-align-self: center;
    align-self: center;
    -webkit-justify-content: center;
    justify-content: center;
    display: flex;*/
    display: -webkit-flex;
    width: 3em !important;
    height: 1.8em !important;
    min-width: none;
    min-height: none;
}


.quoteInfo .position-right {
/*    -webkit-align-self: center;
    align-self: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;*/
    width: 3em !important;
    height: 1.8em !important;
    min-width: none;
    min-height: none;
    position: relative !important;
    top: 0px !important;
    right: -15px !important;
    bottom: 0px !important;
}



.position-right {
    -webkit-align-self: center;
    align-self: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}


.position-right-category{
    position: absolute;
    right: 0.7em;
    bottom: 0.35em;
}

.position-left-category{
    position: absolute;
    left: 0.7em;
    bottom: 0.35em;
}

.position-right-random{
    position: absolute;
    right: 0.7em;
    bottom: 0.89em;
}


.bar-footer .position-right-category{
    position: absolute;
    right: 0.7em;
    bottom: 0.89em;
    width: 2em !important;
    height: 1.8em !important;
    min-width: none;
    min-height: none;
}


.bar-footer .position-right-random{
    position: absolute;
    right: 0.7em;
    bottom: 0.89em;
    width: 2em !important;
    height: 1.8em !important;
    min-width: none;
    min-height: none;
}

.position-center {
    -webkit-align-self: center;
    align-self: center;
    -webkit-justify-content: center;
    justify-content: center;
    display: flex;
    display: -webkit-flex;
}





.rowHome{
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    justify-content:space-between;
    -webkit-justify-content:space-between;
    width: 100%

}


.modalFont
{
    font-family: helvetica Neue;
}


p {
    font-family: Antonio;
}

.child::first-letter {
/*    font-family: Antonio_Bold !important;
    font-weight: bold;*/
    font: bold Antonio !important;
}

a.button {
    text-decoration: none !important;
    display: -webkit-flex !important;     /* NEW - Chrome */
    display: flex !important;
    -webkit-align-items: center !important; 
    align-items: center !important;
    -webkit-justify-content: center !important;
    -webkit-justify-content: center !important;
    width: 8.505em;
    height: 2.1em;
    font-weight: bold !important;
    font-size: 1.2em !important;
}

/* Empty. Add your own CSS if you like */
.home {
    background-image: url(../img/BG.png);
	background-repeat: no-repeat;
	background-size: 100%;
    background-position: center center;
}

.category {
	background: #5B5B5B;
    font-family: Antonio_Bold;
    color: white;
}

.category-bar {
	background: #5B5B5B;
	border-bottom: 0.0625em solid #DADE53;
}

.category-item {
    max-width: 50%;
    font-size: 1.7rem;
    font-weight: bolder;
    margin-top: 2.5rem;
    float: left;
    width: 50%;
    padding-left: 8%;
}

.categoryNotActive{
    color:#4C4948 !important;
    pointer-events: none !important;
}

.imgButton {
    background-color: transparent !important;
    width: 5.625em;
    height: 1.8em;
}


.button {
	background-color: #D0DF61;
    border-radius: 3em;
    min-height: 0.5625em;
    line-height: 1.75em;
    font-size: 0.8125em;
    width: 6.25em;
    color: white;
    width: 7.5em;
    height: 2.25em;
    font-family: Antonio_Bold;
    font-size: 1.3em;
}



body > div > ion-nav-view > ion-view > ion-content > div.scroll-bar.scroll-bar-v > div {
	background: transparent;
}

input[type="text"] {
    height: inherit;
    margin-left: 0.25em;
    color:gray;
    margin-right: 1.45em;
    padding: 0.5em 0em 0.5em 0.5em !important;
    font-size: 1.05em;
}

.homeLabel {
    outline: none;
    background-color: transparent;
    border: 0em;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    -webkit-background-size: 16px 16px;
     -moz-background-size: 16px 16px;
     -o-background-size: 16px 16px;
     background-size: 16px 16px;
    background-position: center left;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}


.swiper-slide {
    z-index: 9 !important;
}


.bar-footer {
    background: transparent;
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding-bottom: 1.7em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

/*
.position-left {
	position: absolute;
	left: 1.25em;
}

.position-center {
    width: 100%;
    text-align: center;
    margin-top: auto;
}

.quoteInfo .position-center {
    width: 100%;
    text-align: center;
    margin-top: auto;
    height: 0.625em;
    margin-top: 0.75em;
}

.position-right {
	position: absolute;
	right: 1.25em;
    bottom: 0.125em;
}

.bar-footer .position-left {
    position: absolute;
    left: 0.625;
    margin-top: 0.75em;
    height: 1.25em;
    width: 1.25em;
}

.bar-footer .position-center {
    width: 100%;
    text-align: center;
    height: 0.625em;
    margin-top: 0.75em;

}

.bar-footer .position-right {
    position: absolute;
    right: 0.625em;
    height: 1.25em;
    width: 1.25em;
    top: 0.8125em;
}*/

.scroll{
    height:100%;
}

.Content .scroll{
	height:100%;
    background-color: transparent;
}

.favorite .scroll{
    height:100%;
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center;
}

/********************************************************************************
*********************************** Content *************************************/

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition:0.5s ease-in all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}


/* The starting CSS styles for the enter animation */
.fade.ng-leave {
  transition:0.1s linear all;
  opacity:1;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-leave.ng-leave-active {
  opacity:0;
}



.platform-ios.platform-cordova:not(.fullscreen) .bar-subheader) {
    height: 64px;
}


.Content .bar-header {
    top: 0;
    border-top-width: 0;
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}



.Content .position-left {
/*    -webkit-align-self: center;
    align-self: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;*/
    width: auto !important;
    height: auto !important;
    min-width: none;
    min-height: none;
    top: 0px;
    left: -15px;
    bottom: 0px;
    padding-left: 27px;
}




.Content .position-center {
/*    -webkit-align-self: center;
    align-self: center;
    -webkit-justify-content: center;
    justify-content: center;
    display: flex;*/
    display: -webkit-flex;
    width: auto !important;
    height: auto !important;
    min-width: none;
    min-height: none;
}


.Content .position-right {
    width: auto !important;
    height: auto !important;
    min-width: none;
    min-height: none;
    position: relative !important;
    top: 0px !important;
    right: -15px !important;
    bottom: 0px !important;
    padding-right: 27px;
}




.muogleCategory {
    float: left;
    height: 44px;
    padding-left: 0.9em;
    padding-right: 0.9em;
    border-bottom: 0.0625em;
    border-bottom-color: #EBEBEB;
    color: #5B5B5B;
    background-color: white;
    font-size: 14px;
    padding-bottom: auto;
    /* padding-top: 0.25em; */
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
}

.muogleCategory:active {
    float: left;
    border-bottom: 0.15625em;
    border-bottom-color: #D9DD5E;
    color: #D9DD5E;
}

.Content .active {
    float: left;
    border-bottom: 0.15625em;
    border-bottom-color: #d0df61;
    color: #d0df61;
    border-bottom-style: solid;
}

.notDisplay{
    display:none !important;
}

.bar-header {
    background: #d0df61;
    z-index: 20;
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.bar-subheader {
    padding: 0em;
    background: none;
}

.swiper-container-horizontal > .swiper-pagination {
    display: none;
}

.slideContainer {
    height: 86.5%;
    overflow: visible;
    margin-left: 1.25em;
    margin-right: 1.25em;
    position: absolute;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    perspective: 1000;
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    z-index: 10;
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center;
}

.slid {
    width: 100%;
    height: 76%;
    overflow: hidden;
    top: 22.5%;
    background-size: cover;
    border-radius: 1.5625em;
    position: absolute;
    z-index: 10;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


.sliderUp {
    backface-visibility: hidden;
    perspective: 1000;
    background-color: inherit;
    border-radius: 1.5625em;
    position: absolute;
    z-index: 10;
    -webkit-transform: translate3d(0,-9%,0);
    transform: translate3d(0,-9%,0);
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
}

.slideContainer .scroll {
    height: 100% !important;
}



.slideBackground {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-color: #5B5B5B;    
    z-index: 10;
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    -webkit-align-items: center; -ms-flex-align: center; align-items: center;
    filter: grayscale(100%) blur(0.125em); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */ 
    filter: grayscale(1) blur(0.1875em); /* IE */
    -webkit-filter: grayscale(1) blur(0.1875em); /* Old WebKit */  
}



.sliderUp .slid {}

.slideValiderContainer {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    align-self: flex-end;
    -webkit-align-self: flex-end;
    -webkit-justify-content: center;    -ms-flex-pack: center;    justify-content: center;
    bottom: -14.5px;
    position: absolute;
    z-index: 11;
}



.slideValider {
    background-color: #d0df61;
    width: 54px;
    height: 54px;
    border-radius: 5.0625em;
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    -webkit-align-items: center; -ms-flex-align: center; align-items: center;
    -webkit-justify-content: center;    -ms-flex-pack: center;    justify-content: center;
    transition: background-color 0.3s linear;
}


.slideValiderGray {
    background-color: #5B5B5B;
    width: 54px;
    height: 54px;    border-radius: 5.0625em;
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    -webkit-align-items: center; -ms-flex-align: center; align-items: center;
    -webkit-justify-content: center;    -ms-flex-pack: center;    justify-content: center;
    transition: background-color 0.3s linear;
}

.slideValider img {
    height: auto;
    width: 26.25px;
}

.slideValiderGray img {
    height: auto;
    width: 26.25px;
}

.child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color: white;
    width: 90%;
    height: 88%;
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    -webkit-align-items: center; -ms-flex-align: center; align-items: center;
    font-size: 9vw;
    text-align: center;
    -webkit-text-align: center;
    z-index: 12;
    line-height: initial;
}


.verifier{
    z-index: 1;
/*    position: absolute;*/
    top: 82%;
}


.verifier .scroll{
    width: 100%;
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.muogleVerifier {
    display: inline-block;
    width: 56px;
    height: 56px;
    line-height: 2.1875em;
    padding-left: 0.3125em;
    padding-right: 0.3125em;
    border: 0.1875em;
    border-style: solid;
    border-color: #d0df61;
    color: #5B5B5B;
    border-radius: 50%;
    background-repeat: no repeat;
    background-position: center center;
    /*background-size:;*/
    background-color: gainsboro;
    margin: 0.2875em;
    background-size: cover;
}

/*.Content .position-left {
    position: absolute;
    left: 1.25em;
    margin-top: 10px; 

}*/

/*********************************
********** Random ***************/

/*.quoteInfo .position-left {
    position: absolute;
    left: 1.25em;
    margin-top: 10px; 
}*/
/*********************************
********** Random ***************/


/*********************************
********** Tooltip ***************/

.validerName {
    margin-left : 0em;
    opacity: 1;
    border-radius: 2.1875em !important;
    border-style: solid;
    border-color: #d0df61;
    height: inherit !important;
    visibility: 'hidden';
    width: inherit !important;
    padding: 8px 26px!important;
    margin-top: -109.984px !important;

    /*margin-top: -110px;*/
}

.popover-arrow {
    top: 80% !important;
}


.popover-arrow:after {
    top: -0.3125em !important;
}

ion-scroll < .validateurWrapper {
    display: -ms-flexbox;   
    display: -webkit-flex;     
    display: flex;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

/********************************************************************************
*********************************** Content *************************************/


.category .bar-header {
    background: #5B5B5B;
    border-bottom: 1px solid #d0df61;
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
}

/*.Content .bar-footer .position-left {
    position: absolute;
    left: 0.625em;
    margin-top: 0.75em;
    height: 1.25em;
    width: 1.25em;
}


.Content .bar-footer .position-center {
    width: 100%;
    text-align: center;
    height: 0.625em;
    margin-top: 0.75em;
}

.Content .bar-footer .position-right {
    position: absolute;
    right: 0.625em;
    height: 1.25em;
    width: 1.25em;
    top: 0.8125em;
}*/



/********************************************************************************
*********************************** Favorite *************************************/


.favorite .bar-header {
    top: 0;
    border-top-width: 0;
    border-bottom-width: 0.0625em;    
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
}
/*
.favorite .position-left {
    position: absolute;
    left: 0em;
}

.favorite .position-right {
    position: absolute;
    right: 0em;
}

.favorite .bar-footer .position-left {
    position: absolute;
    left: 0em;
}

.favorite .bar-footer .position-right {
    position: absolute;
    right: 0em;
}
*/
.favoriteCards {
    height: auto;
    width: 100%;
}


.favorite .favoriteWrapper {
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    -webkit-justify-content: center;    -ms-flex-pack: center;    justify-content: center;
    margin-top: 1.0625em;
    margin-bottom: 2.8125em;
    padding: 1.25em;
    height: 21.2em;
}

.position-left-favorite {
    -webkit-align-self: center;
    align-self: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    left: -46px;
    position: absolute;
}


.favoriteCard {
    height: 18.75em;
    border: 0.1875em;
    border-style: none;
    border-color: none;
    color: #5B5B5B;
    border-radius: 10%;
    background-size: cover;
    position: relative;
}

.favoriteCard.slid {
    margin: 0;

}

.favorite .sectionCard{
    width:  100%;
}

.favorite .child {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    color: white;
    font-size: 8vw;
    -webkit-text-align: center;
}


.favoriteCard, .cardBottom {
    width:100%;
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.cardBottom {
    height: 1.875em;
    width: 100%;
    margin-top: 0.3125em;
    margin-bottom: 0.625em;
    position: relative;
}


/********************************************************************************
*********************************** QuoteInfo *************************************/
.quoteInfo .cardBottom {
    height: auto;
    width: 100%;
    margin-top: 1.2em;
    position: relative;
    color: white;
    font-size: 15px;
    line-height: 1.7em;

}


.quoteInfo .bar-header{
    top: 0;
    border-top-width: 0;
    height: 2.75em;    
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

/*.quoteInfo .position-left {
    position: absolute;
    left: 0.625em;
    margin-top: 0.5em;
}

.quoteInfo .position-right {
    position: absolute;
    right: 0.625em;
    margin-top: 0.75em;
}

.quoteInfo .bar-footer .position-left {
    position: absolute;
    left: 0.625em;
    margin-top: 0.75em;
}

.quoteInfo .bar-footer .position-right {
    position: absolute;
    right: 0.625em;
    margin-top: 0.75em;
}*/

.quoteInfo .favoriteCards {
    height: auto;
    width: 100%;
    margin-top: 2.75em;
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    -webkit-justify-content: center;    -ms-flex-pack: center;    justify-content: center;
}

.quoteInfo .favoriteWrapper {
    height: max-content;
    margin-top: 16px;
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    -webkit-justify-content: center;    -ms-flex-pack: center;    justify-content: center;
    padding: 20px;
}




.quoteInfo .sectionCard{
    width:  100%;
}


.random .bar-header {
    z-index: 11 !important;
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
}

/*.random .position-center {
    width: 100%;
    text-align: center;
}
*/